.header {
  position: relative;
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);

  &--home {
    padding-bottom: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  &__logo {
    font-weight: var(--fw-medium);
    font-size: 30px;
  }

  &__list {
    font-size: var(--fs-sm);
    font-weight: var(--fw-semibold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-24);

    @media only screen and (max-width: 50em) {
      display: none;
      flex-direction: column;
      align-items: center;

      position: fixed;
      inset: 0;
      z-index: 100;
      background-color: var(--color-bg-main);
    }
  }

  .header__nav.is-open .header__list {
    display: flex;
  }

  &__action-link.btn {
    gap: 3px;

    @media only screen and (max-width: 50em) {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }

  &__icon {
    transform: translateY(3px);
    stroke: none;
  }

  &__hamburger {
    display: none;

    @media only screen and (max-width: 50em) {
      border: none;
      background-color: transparent;
      display: block;
      z-index: 101;
      position: absolute;
      right: 0;
      top: 1.5rem;
      right: 1.5rem;
      width: 35px;

      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}
