.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  // stroke: currentColor;
  display: block;
}

.text-center {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.item--active {
  color: var(--color-dark-gray);
}
