@use "../abstract/mixins" as *;

.ag-display,
h1,
h2,
h3 {
  font-family: var(--ff-serif);
  margin: 0;
}

.ag-display {
  font-family: var(--ff-serif);
  // font-size: clamp(var(--ag-min), 10vw, var(--ag-max));
  font-size: 10rem;
  font-weight: var(--fw-regular);
  line-height: var(--ag-lh-desktop);
  letter-spacing: var(--ag-ls);
  max-width: 26ch;
  // margin-bottom: 0.5em; // Proveriti

  @include respond(tablet) {
    line-height: var(--ag-lh-tablet);
    max-width: 22ch;
  }

  @include respond(mobile) {
    font-size: 4.75rem;
    line-height: var(--ag-lh-mobile);
    max-width: 18ch;
  }
}

h2 {
  font-family: var(--ff-serif);
  font-size: clamp(var(--h1-min), 4vw, var(--h1-max));
  font-weight: var(--fw-regular);
  line-height: var(--h1-lh-desktop);
  letter-spacing: var(--h1-ls);

  @include respond(tablet) {
    line-height: var(--h1-lh-tablet);
  }

  @include respond(mobile) {
    line-height: var(--h1-lh-mobile);
  }
}

h3 {
  font-size: var(--h2-desktop);
  line-height: var(--h2-lh-desktop);
  letter-spacing: var(--h2-ls);

  @include respond(tablet) {
    font-size: var(--h2-tablet);
    line-height: var(--h2-lh-tablet);
  }

  @include respond(mobile) {
    font-size: var(--h2-mobile);
    line-height: var(--h2-lh-mobile);
  }
}

h4 {
  font-size: var(--h3-size);
  line-height: var(--h3-lh);
  letter-spacing: var(--h3-ls);
}

p,
.par {
  font-family: var(--ff-sans);
  font-size: clamp(var(--p-min), 1.5vw, var(--p-max));
  color: var(--color-dark-gray);
  line-height: var(--p-lh);
  letter-spacing: var(--p-ls);
}
